* {
    /* border: 2px dotted black */
}

nav ol li {
    background-color: rgb(245, 247, 112);
    margin: 1em;
    padding: 1em;
    display: inline;
    color: white;
}

header nav ol li a:hover{
    background: rgb(42, 255, 149);
    text-decoration: underline;
}

H2 {
    background-color: powderblue;
    color: rgb(254, 254, 254);
    padding: 10px;
    text-align: center;
    color: white;
    } 


table {
    margin: 4em;
    color: rgb(89, 148, 103);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: 3px solid rgb(178, 178, 249);
}

img {
    /*float: left;*/
    display: block;
    display: inline;
    margin: 2em;
}


#about img:first-of-type ~ img {
    border: 3px solid rgb(86, 226, 104);
}
p {
    margin: auto;
    width: 50%;
    padding: 5px;
}