* {
    /* border: 2px dotted black */
}

nav ul li {
    background-color: blue;
    margin: 1em;
    padding: 1em;
    display: inline;
}

img {
    display: block;
}

section#about p::first-letter {
    font-size: 400%;
}
