body {
    background-color: rgb(255, 255, 255);
}

h1 {    
    font-size: 50px;
    text-align: center;
    border-bottom: 3px solid peachpuff;
    margin:0;
    padding: 20px;
    color: rgb(255,115,140);
}

h3 {
    font-size: 20px;
    text-align: center;
    color: rgb(122,171,91);
    text-align: center;
    padding: none;
    margin-bottom: 5px;
    }

#grid {
    display: grid;
    grid-template-columns: 300px 1fr;
}
#profile {
    font-size: 20px;
    padding-left: 20px;
}

@media(max-width:1000px){
    #grid{
        display: inline;
    }
}

#table {
    display: inline;
    text-align: center;
}

nav ol li a {
    color: rgb(122,171,91);
}

nav ol li {
    margin: 1em;
    padding: 1em;
    display: inline;
    font-size: 20px;
}

header nav ol li a:hover{
    background: rgb(166,230,219);
}


h2 {
    background-color: rgb(166,230,219);
    color: rgb(254, 254, 254);
    padding: 10px;
    text-align: center;
    color: white;
    } 

table {
    margin: 4em;
    color: rgb(89, 148, 103);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: 3px solid rgb(178, 178, 249);
}


img {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

#chloelogo {
    display: inline;
    margin: 10px;
    padding: 10px;
    float: left;
}

figcaption , details {
    text-align: center;
}


#about img:first-of-type ~ img {
    border: 3px solid rgb(86, 226, 104);
}

p {
    margin: auto;
    width: 50%;
    padding: 5px;
}