header img {
    height: 60px;
    margin-left: 40px;
}

body {
    height: 125vh;
    background-image: url(/background/milad-fakurian-PGdW_bHDbpI-unsplash.jpg);
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

main {
    color: white;
}

header {
    background-color: rgba(255, 255, 255, 0.646);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 30px 0 grey;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    text-decoration: none;
}